@mixin border() {
  border : 1px solid $gray;
  border-radius : 5px;
  box-shadow : 2px 2px 0 $gray;
} // Input recherche + loupe

@mixin link_adherer(){
  border-radius : 10px;
  border : 1px solid white;
  background-color: inherit;
}

@mixin button($color){
  border-radius : 10px;
  border : none;
  background-color : $color;
  box-shadow : 2px 2px 0 $gray;
}
